 html,
 body {
     height: 100%;
     width: 100%;
     font-family: 'Shojumaru', cursive;
 }

 #navbar {
     display: flex;
     justify-content: space-around;
     align-items: stretch;

     background-color: lightgreen;
     color: red;
     line-height: 50px;
     width: 100%;
     position: fixed;
     top: 0px;
     margin: 0;
     font-family: 'Shojumaru', cursive;
 }

 @media only screen and (max-width:600px) {
     #navbar {
         flex-direction: column;
         justify-content: center;
         align-content: center;
     }
 }

 #navbar a {
     font-size: 1em;
     transition: font-size 0.5s;

     transition: {
         text-decoration: none;
     }
 }

 #navbar a:hover {
     font-size: 1.2em;
 }

 .greeting {
     height: 100vh;
     width: 100vw;
     background-color: rgb(33, 29, 28);
/*    font-family: 'Shojumaru', cursive;*/
    
 }

 .greeting {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
     
 }
#welcome-section{
     background-image: url(shintoist_gate_2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}

 #name {
     color: white;
     font-size: 3.5em;
/*     font-family: sans-serif;*/
 }

 #occupation {
     color: lightgreen;
     font-size: 1.5em;
/*     font-family: monospace;*/
 }

 #works {
     width: 100%;
     height: 200vh;
     background-color: rgb(110, 56, 35);
     color: white;
     text-align: center;

 }

 #lets {
     font-size: 3.5em;
 }

 #coffee {
     font-size: 1.5em;
 }

 #projects h1 {
     margin-top: 0px;
     padding-top: 70px;
/*     font-family: sans-serif;*/
     font-size: 2.5em;
 }

 main div a {
     text-decoration: none;
     color: white;
     font-size: 2em;
 }

 #footer {
     width: 40%;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     align-content: space-around;
     align-items: space-between;
     font-weight: bolder;
 }

 #footer a {
     font-size: 1.4em;
     flex-grow: 2;
 }

 /* mouse over link */
 #footer a:hover {
     color: #7242f5;
 }

 /* selected link */
 #footer a:active {
     color: #7242f5;
 }


 p#coffee {
     margin-bottom: 3%;
 }

 #form {
     
 }
